main {
    background-color: #efeff1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        padding: 0;
        margin: 0;
    }
}

// section 1 -----------------------------------------------
.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    width: 100%;
    height: 40vh; 
    background-color: #e8e6e0;
    font-size: 24px;
    .bg-blue {
        background-color: #26a2cc;
        color: white;
    }

    .color-blue {
        color: #26a2cc;
        font-weight: bold;
    }

    .last-prg {
        margin-top: 20px;
    }

}
// end section 1 -----------------------------------------------
// section 2 -----------------------------------------------
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3em;
    width: 90vw;
    height: 40vh;
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #e2e0e0;
        width: 20vw;
        height: 70%;
        border-radius: 10px;
        padding: 10px;
        padding-bottom: 50px;

        .iccone {
            background-color: white;
            padding: 15px;
            border-radius: 50%;
            color: #3678be;
            font-size: 2rem;
        }

        h3 {
            margin: 5px 0;
            color: gray;
        }

        .text-blue {
            color: #5da2cc;
        }

        p {
            color: #8e7e7e;
            text-align: center;
        }
    }
}

// end section 2 -----------------------------------------------

// section 3 -----------------------------------------------
.section-3 {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    .text {
        width: 40%;
        height: 100%;

        h3 {
            margin-bottom: 10px;
        }

        .prg1 {
            color: #a9a9ba;
            margin-bottom: 10px;
        }

        .prg2 {
            color: #7a7a7a;
            margin-bottom: 20px;
        }

        button {
            background-color: #26a2cc;
            padding: 10px 5px;
            border: none;
            border-radius: 5px;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .mini-card {
        display: flex;
        justify-content: center;
        gap: 10px;

        .card1 {
            text-align: center;
            width: 15vw;
            background-color: #38485f;
            padding-bottom: 10px;

            h3 {
                color: white;
                margin: 10px;
            }

            p {
                color: #93968e;
                margin-bottom: 10px;
                width: 100%;
            }

            img {
                width: 100%;
                height: 60%;
            }
        }
    }
}

// end section 3 -----------------------------------------------
// mediqueri
@media (max-width:426px) {

    // section 1 -----------------------------------------------
    .section-1{
        height: 30vh; 
        font-size: 18px;
    }
    // end section 2 -----------------------------------------------
    // section 2 -----------------------------------------------
    .section-2 {
        width: 100%;
        height: 80vh;
        gap: 1em;

        .card {
            width: 150px;
            height: 250px;
            padding-bottom: 0px;
            p {
                font-size: 0.7rem;
            }
        }
    }

    // end section 2 -----------------------------------------------
    //  section 3 -----------------------------------------------
    .section-3 {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .text {
            
            width: 80%;
            text-align: center;
            padding: 20px 0;
        }

        .mini-card {
            width: 80%;
            flex-direction: column;

            .card1 {
                width: 100%;
            }
        }
    }

    // end section 3 -----------------------------------------------
}